{% extends 'vacay/base_broadmoor_product.html' %}
{% block title %}Edit Detail{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background:linear-gradient(0deg,rgba(200,100,150,0.3),rgba(0,100,150,0.3)), url("/static/vacay/images/retailbackg3.jpg") no-repeat center center fixed;
  background-size:cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

.header {
   background-image: url("/static/vacay/images/bc_gif7.gif");
   background-size:20%,100%;
  color: white;
  font-size: 2.5em;
  font-weight:900;
  padding: 1rem;
  text-shadow: 4px 4px 8px #111111;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid white;
}

img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#product-image{
    border-radius: 5%;
    height:auto;
    width: 130px;
}

.manage {
  border-radius: 10%;
}

.table-users {
  border: 1px solid #327a81;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: white;
}

.table>tbody>tr>td{
    vertical-align: middle;
    horizontal-align: middle;
}

table td, table th {
  color: #2b686e;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: center;
}
table th {
  background-color: #04a2be;
  color:white;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
}
table tr:nth-child(2n) {
  background-color: white;
  border: 1px solid #327a81;
}
table tr:nth-child(2n+1) {
  background-color: #edf7f8;
  border: 1px solid white;
}
#manage-menu{
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width:40px;
    background-color:#7be5f8;
    position: relative; /* <-- Added */
    z-index: 1; /* <-- Added */
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 21px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

#edit {
  border-radius: 5px;
  max-width:800px;
  width:100%;
  margin: 1.5% auto;
  background:linear-gradient(0deg,rgba(180,150,150,0.5),rgba(60,150,250,0.5));
  background-size:cover;
  overflow: hidden;
  box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.2);
}

#edit:hover {
  background:linear-gradient(0deg,rgba(200,150,150,0.7),rgba(60,150,250,0.6));
  background-size:cover;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 95%;
  height: 42px;
  float: left;
  padding: 0px 15px;
  opacity: 0.8;
  color:blue;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #EEE;
  margin: 0;
  width: 95%;
  height: 400px;
  float: left;
  padding: 15px 15px;
  opacity: 0.8;
  color:blue;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:#555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-update{
  background-color: #845801;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%;
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
@header_background_color: #333;
@header_text_color: #FDFDFD;
@alternate_row_background_color: #DDD;

@table_width: 750px;
@table_body_height: 300px;
@column_one_width: 200px;
@column_two_width: 200px;
@column_three_width: 350px;

.fixed_headers {
  width: @table_width;
  table-layout: fixed;
  border-collapse: collapse;

  th { text-decoration: underline; }
  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }

  thead {
    background-color: @header_background_color;
    color: @header_text_color;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: @table_body_height;
    tr:nth-child(even) {
      background-color: @alternate_row_background_color;
    }
  }
}

.old_ie_wrapper {
  height: @table_body_height;
  width: @table_width;
  overflow-x: hidden;
  overflow-y: auto;
  tbody { height: auto; }
}

</style>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<a href="{% url 'vacay:detail_broadmoor_product' bproduct.bm_proid %}" style="width:50px; height:30px; border-radius:50%;margin-top:20px;margin-left:10px; z-index:2; position:fixed;" align="top"><img src="/static/vacay/images/backbutton.png" id = "back" style="width:90px;height:50px;"></a>

<div class="table-users" style="margin-top:13px;">
    <div class="header"><img src="{{admin.adminLogoImageUrl}}" alt="" style="margin-right:30px;margin-left:500px;"/>Product Detail</div>

    <table cellspacing="0" class="table table-fit">
        <tr>
            <th style="width:12%;">Picture</th>
            <th style="width:15%;">Name</th>
            <th style="width:10%;">Inventory #</th>
            <th style="width:10%;">Category</th>
            <th style="width:42%;">Additional Marketing Material</th>
        </tr>

        <tr>
            <td>
                <a target="_blank" href="{{bproduct.bm_proImageUrl}}">
                    <img src="{{bproduct.bm_proImageUrl}}" alt="" id="product-image"/>
                </a>
            </td>
            <td>{{bproduct.bm_proName}}</td>
            <td>{{bproduct.bm_proInventoryNum}}</td>
            <td>{{bproduct.bm_proCategory}}</td>
            <td>{{bproduct.bm_proAdditional}}</td>
        </tr>

    </table>

</div>

<div class="" style="width:100%; height:3px;background-color:#f2d639; margin-bottom:10px;"></div>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <form id="edit" action="{% url 'vacay:edit_detail_broadmoor_product' bproduct.bm_proid bdetail.bm_detailID %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
	    <h1>Edit Detail Item</h1>

    <div class="contentform">
    	<div id="sendmessage"> This profile has been updated successfully!</div>
        <div class="leftcontact">

            <div class="form-group">
            <p>Size <span>*</span></p>
            <!--<span class="icon-case"><i class="fa fa-user"></i></span>-->
				<input type="text" name="size" id="size" data-rule="required" data-msg="" required id="size" value="{{bdetail.bm_proSize}}"/>
                <div class="validation"></div>
			</div>
            <div class="form-group">
			        <p>Quantity <span>*</span></p>
			        <!--<span class="icon-case"><i class="fa fa-male"></i></span>-->
				        <input type="text" name="quantity" id="quantity" data-rule="required" data-msg="" required id="quantity" value="{{bdetail.bm_proQuantity}}"/>
                    <div class="validation"></div>
                  </div>

	</div>

	<div class="rightcontact">
        <div class="form-group">
			    <p>Price <span>*</span></p>
			<!--<span class="icon-case"><i class="fa fa-home"></i></span>-->
                <input type="text" name="price" id="price" data-rule="required" data-msg="" required id="price" value="{{bdetail.bm_proPrice}}"/>
                <div class="validation"></div>
			</div>
	</div>
	</div>
<button type="submit" class="bouton-update">UPDATE</button>
  </form>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
    $( "#edit" ).draggable();
  } );
</script>

{% endblock %}